In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm
import time
import glob
import os
from datetime import datetime

In [2]:
wdpath=r'E:/'
os.chdir(wdpath)
print(os.getcwd())
filelist1=glob.glob(r'/dailyfivemiustd*.csv')
filelist1

E:\

['/dailyfivemiustd20204.csv']

In [3]:
ab=pd.DataFrame()
for i in range(len(filelist1)):   # Numba likes loops
        df = pd.read_csv(filelist1[i]) 
        ab=ab.append(df)
print(len(ab))

20

In [4]:
ab.tail()

,time,exstock,fivemiu,fivestd,countobs,ym,ymd
15,2020-12-16 09:34:57,SH000906,-0.000031,0.000908,48,202012,20201216
16,2020-12-17 09:34:57,SH000906,0.000246,0.001071,48,202012,20201217
17,2020-12-18 09:34:59,SH000906,-0.000064,0.000988,48,202012,20201218
18,2020-12-21 09:34:58,SH000906,0.000239,0.001129,48,202012,20201221
19,2020-12-22 09:35:00,SH000906,-0.000302,0.001224,48,202012,20201222

In [5]:
ab["miumiu"]=ab["fivemiu"]*ab["countobs"]

In [6]:
ab.sort_values(by=["miumiu"],ascending=False).head()

,time,exstock,fivemiu,fivestd,countobs,ym,ymd,miumiu
4,2020-12-01 09:34:58,SH000906,0.000412,0.000979,48,202012,20201201,0.019772
16,2020-12-17 09:34:57,SH000906,0.000246,0.001071,48,202012,20201217,0.011828
18,2020-12-21 09:34:58,SH000906,0.000239,0.001129,48,202012,20201221,0.011459
2,2020-11-27 09:35:00,SH000906,0.000166,0.000975,48,202011,20201127,0.007961
13,2020-12-14 09:34:57,SH000906,0.000152,0.000969,48,202012,20201214,0.007284

In [7]:
ab.sort_values(by=["miumiu"],ascending=True).head()

,time,exstock,fivemiu,fivestd,countobs,ym,ymd,miumiu
0,2020-11-25 09:34:58,SH000906,-0.000355,0.001070,48,202011,20201125,-0.017030
10,2020-12-09 09:34:58,SH000906,-0.000345,0.001032,48,202012,20201209,-0.016552
12,2020-12-11 09:34:56,SH000906,-0.000316,0.001489,48,202012,20201211,-0.015150
19,2020-12-22 09:35:00,SH000906,-0.000302,0.001224,48,202012,20201222,-0.014489
8,2020-12-07 09:34:58,SH000906,-0.000169,0.001146,48,202012,20201207,-0.008129

In [8]:
#print(df.size)
dataraw1=ab.copy()
dataraw1=dataraw1.reset_index(drop=True)
index = dataraw1.loc[(dataraw1['fivestd']==0)].index
print(len(dataraw1))

20

In [9]:
dataraw=dataraw1[~(dataraw1['fivestd']==0)]
#dataraw=dataraw1.drop(index)
print(len(dataraw))
dataraw = dataraw[(dataraw['countobs']>14)]
dataraw.dropna(axis=0, how="any",inplace=True)
print(len(dataraw))
dataraw.head()

20
20

,time,exstock,fivemiu,fivestd,countobs,ym,ymd,miumiu
0,2020-11-25 09:34:58,SH000906,-0.000355,0.001070,48,202011,20201125,-0.017030
1,2020-11-26 09:34:57,SH000906,0.000027,0.001157,48,202011,20201126,0.001273
2,2020-11-27 09:35:00,SH000906,0.000166,0.000975,48,202011,20201127,0.007961
3,2020-11-30 09:34:56,SH000906,-0.000098,0.001418,48,202011,20201130,-0.004694
4,2020-12-01 09:34:58,SH000906,0.000412,0.000979,48,202012,20201201,0.019772

In [10]:
def month1(hang):
    return hang['exstock'][2:8]
dataraw['stkcd']=dataraw.apply(month1,axis=1)

In [11]:
data=dataraw.sort_values(by=['ymd','stkcd'])

In [12]:
data.to_csv(r'E:/all - fivedataall.csv')